<footer class="footer">
  <div class="column">
    <a href="#top" class="footer__scroll"
      ><img
        class="footer__scroll__icon"
        src="./assets/images/ico-arrow.svg"
        alt="Scroll top button"
        title="Back to top"
    /></a>
    <ul class="footer__links">
      <li class="footer__links__item">
        <a href="https://adalab.es/" class="">Articles</a>
      </li>
      <li class="footer__links__item">
        <a href="https://adalab.es/" class="">Books</a>
      </li>
      <li class="footer__links__item">
        <a href="https://adalab.es/" class="">Events</a>
      </li>
      <li class="footer__links__item">
        <a href="https://adalab.es/" class="">Reasons</a>
      </li>
      <li class="footer__links__item">
        <a href="https://adalab.es/" class="">Tips</a>
      </li>
    </ul>
    <ul class="footer__links">
      <li class="footer__links__item">
        <a href="https://adalab.es/" class="">Twitter</a>
      </li>
      <li class="footer__links__item">
        <a href="https://adalab.es/" class="">Instagram</a>
      </li>
      <li class="footer__links__item">
        <a href="https://adalab.es/" class="">mastodon.social</a>
      </li>
    </ul>
    <small class="footer__trademark">
      <div class="footer__trademark__date">©2017</div>
      <div class="footer__trademark__name">we ❤︎ components</div>
    </small>
  </div>
</footer>
