<footer class="footer">
  <a href="#" class="footer__pointer">></a>
  <ul class="footer__links">
    <li class="footer__links__item"><a href="#" class="">Articles</a></li>
    <li class="footer__links__item"><a href="#" class="">Books</a></li>
    <li class="footer__links__item"><a href="#" class="">Events</a></li>
    <li class="footer__links__item"><a href="#" class="">Reasons</a></li>
    <li class="footer__links__item"><a href="#" class="">Tips</a></li>
  </ul>
  <ul class="footer__links">
    <li class="footer__links__item"><a href="#" class="">Twitter</a></li>
    <li class="footer__links__item"><a href="#" class="">Instagram</a></li>
    <li class="footer__links__item">
      <a href="#" class="">mastodon.social</a>
    </li>
  </ul>
  <small class="footer__trademark">
    <div class="footer__trademark__date">©2017</div>
    <div class="footer__trademark__name">we ❤︎ components</div>
  </small>
</footer>
