<footer class="footer">
  <a href="#top" class="footer__scroll" title="Back to top"
    ><img
      class="footer__scroll__icon"
      src="./assets/images/ico-arrow.svg"
      alt="Scroll top button"
  /></a>
  <div class="footer__column column">
    <ul class="footer__menu menu1">
      <li class="footer__menu__item">
        <a
          href="https://adalab.es/"
          class="footer__menu__link"
          title="Articles"
          target="_blank"
          >Articles</a
        >
      </li>
      <li class="footer__links__item">
        <a
          href="https://adalab.es/"
          class="footer__menu__link"
          title="Books"
          target="_blank"
          >Books</a
        >
      </li>
      <li class="footer__links__item">
        <a
          href="https://adalab.es/"
          class="footer__menu__link"
          title="Events"
          target="_blank"
          >Events</a
        >
      </li>
      <li class="footer__links__item">
        <a
          href="https://adalab.es/"
          class="footer__menu__link"
          title="Reasons"
          target="_blank"
          >Reasons</a
        >
      </li>
      <li class="footer__links__item">
        <a
          href="https://adalab.es/"
          class="footer__menu__link"
          title="Tips"
          target="_blank"
          >Tips</a
        >
      </li>
    </ul>
    <ul class="footer__menu menu2">
      <li class="footer__menu__item">
        <a
          href="https://adalab.es/"
          class="footer__menu__link"
          title="Twitter"
          target="_blank"
          >Twitter</a
        >
      </li>
      <li class="footer__links__item">
        <a
          href="https://adalab.es/"
          class="footer__menu__link"
          title="Instagram"
          target="_blank"
          >Instagram</a
        >
      </li>
      <li class="footer__links__item">
        <a
          href="https://adalab.es/"
          class="footer__menu__link"
          title="Mastodon.social"
          target="_blank"
          >mastodon.social</a
        >
      </li>
    </ul>
    <small class="footer__trademark">
      <div class="footer__trademark__date">©2017</div>
      <div class="footer__trademark__name">
        we <span class="footer__trademark__icon">❤︎</span> components
      </div>
    </small>
  </div>
</footer>
