<header class="header">
  <a href="https://adalab.es/" class="header__menu" target="_blank" title="Menu"
    ><img
      src="./assets/images/ico-menu.svg"
      alt="Menu icon"
      class="header__menu__icon"
  /></a>
  <div class="header__text">
    <h1 class="header__text__title">Anonymous proxy</h1>
    <p class="header__text__claim">In hac habitasse platea dictumst.</p>
  </div>
  <a href="#reasons" class="header__scroll" title="Why purchase?"
    ><img
      class="header__scroll__icon"
      src="./assets/images/ico-scroll-down.svg"
      alt="Scroll to Reasons section"
  /></a>
</header>
