<section class="intro column">
  <h2 class="intro__title">Insomnia tips</h2>
  <article class="intro__tip">
    <h3 class="intro__tip__title">Looking through a window</h3>
    <p class="intro__tip__text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
  </article>
  <div class="intro__button">
    <a
      href="https://adalab.es/"
      class="intro__button__link"
      target="_blank"
      title="Find more tips!"
      >Go</a
    >
  </div>
</section>
