<section class="reasons" id="reasons">
  <div class="column reasons__column">
    <h2 class="reasons__title">3 reasons to purchase</h2>
    <include
      src="./reasons-items.html"
      tip="tip1"
      name="Ut sed metus"
      text="Lorem ipsum dolor sit amet, consecteur."
    ></include>
    <include
      src="./reasons-items.html"
      tip="tip2"
      name="Ut sed metus"
      text="Lorem ipsum dolor sit amet, consecteur."
    ></include>
    <include
      src="./reasons-items.html"
      tip="tip3"
      name="Ut sed metus"
      text="Lorem ipsum dolor sit amet, consecteur."
    ></include>
    <a href="https://adalab.es/" class="reasons__link">More reasons</a>
  </div>
</section>
