<section class="reasons">
  <h2 class="reasons__title">3 reasons to purchase</h2>
  <ul class="reasons__list">
    <li class="reasons__list__item">
      <h3 class="reasons__list__title">Ut sed metus</h3>
      <p class="reasons__list__text">Lorem ipsum dolor sit amet, consecteur.</p>
    </li>

    <li class="reasons__list__item">
      <h3 class="reasons__list__title">Curabitur ac erat</h3>
      <p class="reasons__list__text">Mauris mattis urna quis lorem molestie.</p>
    </li>

    <li class="reasons__list__item">
      <h3 class="reasons__list__title">Morbi dictum</h3>
      <p class="reasons__list__text">Aliquam in dolor et dolor tincidunt.</p>
    </li>
  </ul>
  <a href="#" class="ressons__link">More reasons</a>
</section>
