// colors
$color-white: #ffffff;
$color-primary: #f26002;
$color-primary-dark: #753b17;
$color-secondary: #0271bc;
$color-secondary-light: #8ccbea;
$color-secondary-pale: #eff9ff;
$color-secondary-dark: #304268;
$font-color-primary: #4a4a4a;

// Fonts
$font-primary: "Roboto", sans-serif;
$font-secondary: "Roboto Slab", serif;
