.footer {
  background-color: $color-secondary-dark;
  height: 465px;
  font-family: $font-primary;
  color: $color-white;
  text-align: center;
  position: relative;
  &__column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    .footer__scroll {
      width: 45px;
      height: 45px;
      box-shadow: 0 2px 4px 0 $color-black;
      background-color: $color-white;
      border-radius: 22.5px;
      position: absolute;
      top: -22.5px;
      animation: arrow ease 0.2s 3 5s;
      &__icon {
        margin: 10px auto;
      }
    }
    .footer__menu {
      line-height: 1.88;
      text-transform: uppercase;
      &__link {
        color: $color-white;
        padding: 10px;
      }
      &.menu1 {
        padding-top: 60px;
      }
      &.menu2 {
        margin-top: 30px;
      }
    }
    .footer__trademark {
      font-size: 14px;
      line-height: 2.14;
      &__date {
        margin-top: 30px;
      }
      &__icon {
        color: $color-primary;
      }
    }
  }
}
