.header {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__text {
    color: white;
    text-align: center;
    transform: translateY(50vh);
    &__title {
      text-transform: uppercase;
      font-size: 42px;
    }
  }
  &__link {
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50%;
    transform: translateY(75vh);
    &__img {
      width: 20px;
      margin: 18px 12px 0 13px;
    }
  }
}
