.reasons {
  background-color: $color-secondary-light;
  text-align: center;
  &__column {
    height: 624px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 1fr 1fr 105px;
    .reasons__title {
      grid-column: span 1;
      padding-top: 30px;
      font-family: $font-secondary;
      font-size: 24px;
      text-transform: capitalize;
    }
    .reasons__item {
      grid-column: span 1;
      margin: 0 55px;
      padding-top: 15px;
      font-size: 18px;
      line-height: 1.67;
      &__title {
        font-family: $font-secondary;
      }
      &__text {
        font-family: $font-primary;
      }
    }
    .reasons__link {
      background-color: orange;
    }
  }
}
