.reasons {
  background-color: $color-secondary-pale;
  text-align: center;
  &__column {
    height: 624px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 1fr 1fr 105px;
    .reasons__title {
      padding-top: 30px;
      font-family: $font-secondary;
      text-transform: capitalize;
    }
    .reasons__item {
      margin: 0 55px;
      padding-top: 15px;
      font-size: 18px;
      line-height: 1.67;
      &__title {
        font-family: $font-secondary;
      }
      &__text {
        font-family: $font-primary;
      }
    }
    .reasons__link {
      color: $color-white;
      background-color: $color-primary;
      width: 184px;
      height: 45px;
      border-radius: 22.5px;
      font-family: $font-primary;
      font-size: 20px;
      font-weight: 500;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: ease 0.2s;
      &:hover {
        transform: scale(1.2);
        box-shadow: 0 5px 3px $color-primary-dark;
        background-color: $color-white;
        border: solid $color-primary 4px;
        color: $color-primary;
      }
    }
  }
}
