.reasons {
  background-color: $color-secondary-pale;
  text-align: center;
  &__column {
    height: 624px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 1fr 1fr 105px;
    @media (min-width: 786px) {
      height: 397px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 75px 1fr 105px;
    }
    @media (min-width: 1200px) {
      height: 427px;
      grid-template-rows: 105px 1fr 105px;
    }
    .reasons__title {
      padding-top: 30px;
      font-family: $font-secondary;
      text-transform: capitalize;
      @media (min-width: 786px) {
        grid-column: 1/4;
        grid-row: 1/3;
        font-size: 26px;
      }
      @media (min-width: 1200px) {
        padding-top: 60px;
        font-size: 32px;
      }
    }
    .reasons__item {
      margin: 0 55px;
      padding-top: 15px;
      font-size: 18px;
      line-height: 1.67;
      @media (min-width: 786px) {
        padding: 35px 5px 0 5px;
        font-size: 20px;
        margin: 0;
      }
      @media (min-width: 1200px) {
        font-size: 24px;
      }
      &.tip1 {
        @media (min-width: 786px) {
          grid-column: 1/2;
          grid-row: 2/3;
        }
      }
      &.tip2 {
        @media (min-width: 786px) {
          grid-column: 2/3;
          grid-row: 2/3;
        }
      }
      &.tip3 {
        @media (min-width: 786px) {
          grid-column: 3/4;
          grid-row: 2/3;
        }
      }
      &__title {
        font-family: $font-secondary;
      }
      &__text {
        font-family: $font-primary;
      }
    }
    .reasons__link {
      color: $color-white;
      background-color: $color-primary;
      width: 184px;
      height: 45px;
      border-radius: 22.5px;
      font-family: $font-primary;
      font-size: 20px;
      font-weight: 500;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: ease 0.2s;
      @media (min-width: 786px) {
        grid-column: 1/4;
        grid-row: 3/5;
      }
      &:hover {
        transform: scale(1.2);
        box-shadow: 0 5px 3px $color-primary-dark;
        background-color: $color-white;
        border: solid $color-primary 4px;
        color: $color-primary;
      }
    }
  }
}
